
<p class="lead">[% description %]</p>

<div class="panel panel-default">
<div class="panel-heading">

<h3 class="panel-title">[% params.host %] - [% params.metric %]</h3>

</div>
	<div class="panel-body" style="background-color:#2F2F2F">
	[% FOREACH graph = graphs %]
	<img src="[% graph %]"  class="center-block img-responsive" >
    <hr/>
	[% END %]
	</ul>
</div>
</div>



