<HTML>
  <head>
    <meta charset='UTF-8' />
  </head>
  <body>
    <center> 
      [%IF uuid%]
      <p>UUID: [%uuid%] - Digite o seu código bash na textarea abaixo</p>
      <form name=form_bash method=POST action='/save_bash' >
        <input type='hidden' name='host' value='horrorscope' />
        <input type='hidden' name='identifier' value='[%uuid%]' />
        <input type='hidden' name='metric-name' value='[%metric_name%]' />
        <input type='hidden' name='metric-var' value='[%metric_var%]' />
        <input type='hidden' name='metric-dev' value='[%metric_dev%]' />
        <textarea rows=20 cols=80 name=[%uuid%]>
      </textarea >
      <input type=submit />
      </form>
      [%ELSE%]
        [%color='green'%]
        [%IF error%][%color = 'red'%][%END%]
        <p style="border: 1px solid [%color%]; color: [%color%]" >[%message%]</p>
      [%END%]
    </center>
  </body>
</HTML>
