  ul{
    list-style: none outside none;
  }

  .leaf {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    list-style-type: none;
    width: 50%;
    font-weight: bold;
    background-color: #e7e5e5;
    color: #e62c59;
  }

  .leaf-notification {
    padding-left:50%;
    font-weight: normal;
  }

  ul.no-bullet {
    list-style: none outside none;
    padding-left:1em;
  }

  .node-closed {
    list-style: url('/images/bullet-right.png') outside none;

  }

  .node-closed:hover {
    cursor: pointer;
  }

  .node-open {
    list-style: url(/images/bullet-down.png) outside none;
  }
  .node-open:hover {
    cursor: pointer;
  }

  .list-script {
    list-style-type: none;
    list-style-image: none;
    color: #e62c59;
    padding-bottom: 20px;
  }

  .list-variable {
    list-style-type: none;
    display: none;
    border: 1px solid #e7e5e5;
    border-radius: 5px;
    width: 35%;
  }

  div.variable {
    background-color: #e7e5e5;
    color: #e62c59;
    font-weight: bold;
    width: 100%;
  }

  .list-metric {
    display: hidden;
  }

  .list-host {
    display: hidden;
  }


  .silver-panel {
    background-color: #f1f1f1;
    border: 5px solid #e62c59;
    border-radius: 5px;
  }

  .metric-panel {
    border: none;
  }

  div.code {
    width: 370px;
  }

  #hook-container {
    display: none;
  }

  .identifier {
    display: table-cell;
    width: 540px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /*fake anchors*/
  .anchor-code {
    color: #44a1ef;
    text-align: center;
    display:table-cell;
    width: 90px;
  }

  .anchor-code:hover {
    background-color: #44a1ef;
    color: white;
    cursor: pointer;
    display:table-cell;
  }

  
  .menu-metric-container {
    background-color: #2f2f2f;
    width: 200px;
    padding-left: 1px;
    padding-right: 1px;
    list-style-type: none;
    display: none;
  }
 
  .menu-metric-item {
    color: #f3f3f3;
    display:block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
  }

  .menu-metric-item:hover {
    color: #337ab7;
    background-color: #f3f3f3;
    cursor: pointer;
  }

  .metric-choice {
    display: block;
  }

  div.script-identifier-title:hover {
    background-color: #e7e5e5;
    color: red;
  }

  .level-content {
    background-color: #f3f3f3;
    display: none;
  }

  .choose-list {
    display: none;
  }



