<div style="width: 200px; display: inline-block;">  
  <ul style="display: none;">
    <li>SMS</li>
    <li>
      <label for="sms-responsability-[%level%]">Responsability</label>
      <input type="text" class="form-control" name="sms-responsability-[%level%]" id="sms-responsability-[%level%]" />
      <label for="sms-delay-[%level%]">Delay</label>
      <input type="text" class="form-control" name="sms-delay-[%level%]" id="sms-delay-[%level%]" />

    </li>
  </ul>
</div>
